.comment {
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
    font-size: 16px;
    height: 40px;
    line-height: 24px;
    padding: 7px 8px;
    color: rgb(8, 9, 10);
    box-shadow: none;
    margin-top: 10px;
    /* :focus {
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
  } */
  }
  
  .button-2 {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
      sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  